* {
  font-family: 'Consolas', monospace;

}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.projects {
  font-weight: bold;
  font-style: italic;
}

.experience {
  font-weight: bold;
  font-style: italic;
}

.photos {
  font-weight: bold;
  font-style: italic;
}

.intro {
  top: 50%;
	left: 50%;
	position: absolute;
	transform: translateX(-50%) translateY(-50%) scale(2, 2);
	transition: 0.5s ease-in-out;
}

a {
  display: inline-block;
  text-decoration: none;
  color: black;
}

a:hover{
  text-decoration: none;
  color: rgb(0, 126, 158);
}

.info {
  font-style: italic;
}

a.info:hover{
  text-decoration: none;
  color: rgb(90, 90, 90);
}

*:hover>.underline, .active>.underline {
	width: 100%;
}

.underline {
	display: block;
	height: 2px;
	margin: 0 auto;
	width: 0;
	transition: width .25s linear;
}
.top {
  top: 0;
  transform: translateX(-50%);

}

.top-p {
  top: 0;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);

}

.carousel {
  
  position: absolute;
  top:50%;
  left: 50%;
  transform: translateX(-50%) translateY(25%);

}

.imgContainer {
  display:block;
	box-sizing: border-box;
	position: relative;
}
.imgCarousel {
  margin: 10px;
}
.imgContainer::before {
	top: 0;
	left: 0;
}

.imgContainer::before, .imgContainer::after {
	border: 1px solid transparent;
	width: 0;
	height: 0;
	box-sizing: inherit;
	content: '';
	position: absolute;
}

.imgContainer::after {
	bottom: 0;
	right: 0;
}

.imgContainer.loaded::before, .imgContainer.loaded::after {
	width: 100%;
	height: 100%;
}

.imgContainer.loaded::before {
  border-top-color: rgb(0, 0, 0);
	border-right-color: rgb(0, 0, 0);
	transition: width 0.125s ease-out, height 0.125s ease-out 0.125s, border-radius .5s ease-out 0.5s;
}

.imgContainer.loaded::after {
  border-bottom-color: rgb(0, 0, 0);
	border-left-color: rgb(0, 0, 0);
	transition: border-color 0s ease-out 0.25s, width 0.125s ease-out 0.25s, height 0.125s ease-out 0.325s, border-radius .5s ease-out 0.5s;
}

.carouselText {
  margin-top: 20px;
  font-style: italic;
}


.imgCarousel {
	transition: 1.0s;
}
.globe {
  margin-top: 50px;
}
.main {
	margin-top: 80px;
	left: 50%;
  position: absolute;
  transform: translateX(-50%);

  opacity: 0;
	transition: 0.5s;
}

.main-pic {
	margin-top: 25px;
	left: 50%;
  position: absolute;
  transform: translateX(-50%);

  opacity: 0;
	transition: 0.5s;
}

.contact{
  margin-top: 50px
}

ul {
  margin: 0;
}
ul.dashed {
  list-style-type: none;
}
ul.dashed > li {
  text-indent: -18px;
}
ul.dashed > li:before {
  content: "- ";
  text-indent: -5px;
}

.experienceContent {
  width:100%;
  margin-left: 40%;
}
.main-exp {
	margin-top: 25px;
  width: 75%;
  opacity: 0;
	transition: 0.5s;
  display: flex;
  justify-content: center;
}

.education {
	margin-top: 50px;
}
.tightrope {
	margin-bottom: 50px;
}

.fadeOut {
  opacity: 0;
}

.back {
  margin-left: 5px;
  font-weight: bold;
  font-style: italic;
}

.carouselText {
  text-align: center;
}
.App-header {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
